@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,400;0,700;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.container {
  color: white;
  background-color: #14273e;
  margin: 1rem;
  border-radius: 0.5rem;
  height: 20rem;
  width: 15rem;
  padding: 1rem;
  box-shadow: #4891eb -0.2rem 0.2rem;
}

img {
  overflow: hidden;
  border: #1d385a 1px solid;
  border-radius: 5%;
  height: 13rem;
  margin-bottom: 0.4rem;
}

div:hover {
  background-color: #1d385a;
  transition: 0.5s;
  cursor: pointer;
}
div img:hover {
  border: #1d385a 1px solid;
}
.portname {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  max-width: 13rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.portsize {
  color: #00ffdd;

  font-size: 1.2rem;
}
