@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.profile,
.profile a {
  color: white;
  text-decoration: none;
  float: left;
}
a:hover {
  text-decoration: underline;
}
h2 {
  font-size: 4rem;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
