@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.profile,
.profile a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  float: left;
}
.profile a:hover {
  background-color: #224877;
  transition: 0.5s;
  text-decoration: none !important;
}
.profile a{
  display: block;
  border: none;
  border-radius: 0.5rem;
  background-color: #14273e;
  font-size: 2rem;
  padding: 1rem;
  color: white;
  box-shadow: #4891eb -0.2rem 0.2rem;
  margin: 1rem;
}